<table>
  <th>
    <td>
      Secret
    </td>
    <td>
      Action
    </td>
    <td>
      Likes
    </td>
    <td>
      Like
    </td>
  </th>

  <% @secrets.each do |secret| %>
  <tr>
    <td>
      <%= secret.content %>
    </td>
    <td>
      <% if current_user == secret.user %>
        <form action="/secrets/#{secret.id}/delete" method='POST'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type='submit' value='delete'>
        </form>
      <% end %>
    </td>
    <td>
      <%= secret.likes.count %>
    </td>
    <td
      <% if secret.likes.where(user: current_user).count == 1 %>
        <form action="/secrets/#{secret.id}/like" method='POST'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type='submit' value='Like'>
        </form>
      <% else %>
        <form action="/secrets/#{secret.id}/unlike" method='POST'>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type='submit' value='Unlike'>
        </form>
      <% end %>
    </td>

  </tr>
  <% end %>

  </tr>
</table>

<hr>
<hr>
<form action='/secrets' method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>
      your secret:
    </p>
    <textarea name='content'></textarea>
    <hr>
    <input type='submit' value='add new secret'>

</form>
